<main role="main" class="flex-shrink-0">
  <form [formGroup]="grainBillForm" (ngSubmit)="onSubmit()">
    <div class="container py-3">
      <div class="row">
        <div class="col">
          <h4>Grain bill info</h4>
        </div>
      </div>
    </div>

    <!-- Grains labels -->
    <div class="container py-4">
      <div class="col">
        <div class="row py-1">
          <div class="col text-center">Grain type</div>
          <div class="col text-center">Name</div>
          <div class="col text-center">Weight (kg)</div>
          <div class="col text-center">Color (ºL)</div>
          <div class="col text-center">Mash pH</div>
        </div>
      </div>

      <!-- GRAINS -->
      <div class="col" formGroupName="grain{{ i + 1 }}" *ngFor="let num of nums | multiplyElement; let i = index;">
        <div class="row py-1">
          <div class="col text-center">
            <div class="col text-center" style="width: 250px;">
              <ng-select [items]="grainsDropdown"
                         bindLabel="name"
                         placeholder="- Select Grain -"
                         (change)="onChange($event, i + 1)"
                         formControlName="grainDropdown">
              </ng-select>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" formControlName="name" class="form-control text-center">
          </div>
          <div class="col text-center">
            <input type="number" formControlName="weight" (change)="storeGrainBill()" class="form-control text-center">
          </div>
          <div class="col text-center">
            <input type="number" formControlName="color" (change)="calculatePh(i + 1)" class="form-control text-center" [readOnly]="getGrainControl(i + 1) !== 'CRYSTAL'">
          </div>
          <div class="col text-center">
            <input type="number" formControlName="pH" class="form-control text-center" readOnly>
          </div>
        </div>
      </div>
    </div>

    <!-- Total weight -->
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="row py-1">
            <div class="col-lg-6 text-right">Total grain weight (kg):</div>
            <div class="col-lg-3 text-center">
              <input type="number" formControlName="totalGrainWeight" class="form-control text-center" readonly>
            </div>
            <div class="col-lg-2 text-center"></div>
          </div>
          <div class="row py-1">
            <div class="col-lg-6 text-right">Mash Thickness:</div>
            <div class="col-lg-3 text-center">
              <input type="number" formControlName="mashThickness" class="form-control text-center" readonly>
            </div>
            <div class="col-lg-2 text-center">l/kg</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="container py-3">
      <div class="row justify-content-end">
        <button (click)="onBack()" type="button" class="btn btn-outline-danger mr-2">
          <span class="fas fa-angle-double-left"></span> Back
        </button>
        <button (click)="onNext()" type="button" class="btn btn-outline-dark mr-2">
          Next <span class="fas fa-angle-double-right"></span>
        </button>
        <button type="submit" class="btn btn-outline-success mr-2">Save</button>
      </div>
    </div>
  </form>
</main>
