<main role="main" class="flex-shrink-0">
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <h4>Grain bill info</h4>
      </div>
    </div>
  </div>

  <!-- Grains -->
  <div class="container col-lg-6 bg-light py-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">Grain type</div>
          <div class="col text-center">Weight (kg)</div>
          <div class="col text-center">Color (ºL)</div>
          <div class="col text-center">Mash pH</div>
        </div>
      </div>
      <!-- TODO: Treba forEachat i kreirat 8 unosnih forma za grainse -->
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu1" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <!-- TODO: -->
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu2" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu3" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu4" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu5" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu6" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu7" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row py-1">
          <div class="col-lg-4 text-center">
            <div ngbDropdown class="dropdown">
              <button id="dropDownMenu8" class="btn btn-outline-secondary" ngbDropdownToggle>{{ selectedGrain.name }}
              </button>
              <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" *ngFor="let grain of grains" value="{{ grain.id }}"
                        (click)="selectGrain(grain)">{{ grain.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center disable" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">{{ selectedGrain.pH }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Total weight -->
  <div class="container col-lg-6 py-3">
    <div class="row">
      <div class="col-lg-6">
        <div class="row py-1">
          <div class="col-lg-6 text-right">Total grain weight (kg):</div>
          <div class="col-lg-3 text-center">
            <input type="text" value="5,2" class="form-control text-center" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col-lg-2 text-center"></div>
        </div>
        <div class="row py-1">
          <div class="col-lg-6 text-right">Mash Thickness:</div>
          <div class="col-lg-3 text-center">
            <input type="text" value="3,25" class="form-control text-center" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col-lg-2 text-center">l/kg</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="container py-3">
    <div class="row justify-content-end">
      <button (click)="onBack()" type="button" class="btn btn-outline-danger mr-2">
        <span class="fas fa-angle-double-left"></span> Back
      </button>
      <button (click)="onNext()" type="button" class="btn btn-outline-dark mr-2">
        Next step
        <span class="fas fa-angle-double-right"></span>
      </button>
    </div>
  </div>
</main>
