<hr>
<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="col py-3 text-center">
      <h4>Calculated Mash pH</h4>
    </div>
    <!-- mash ph -->
    <div class="row justify-content-center">
      <div class="col col-lg-2 text-center">
        Effective Alkalinity
      </div>
      <div class="col col-lg-2 text-center">
        Residual
      </div>
      <div class="col col-lg-2 text-center">
        ESTIMATED
      </div>
      <div class="col col-lg-2 text-center">
        Desired
      </div>
    </div>
    <div class="row pb-1 justify-content-center">
      <div class="col col-lg-2 text-center">
        (CaCO3 ppm)
      </div>
      <div class="col col-lg-2 text-center">
        Alkalinity
      </div>
      <div class="col col-lg-2 text-center">
        Room-temp Mash pH
      </div>
      <div class="col col-lg-2 text-center">
        Room-temp Mash pH
      </div>
    </div>
    <!-- table -->
    <div class="row justify-content-center">
      <div class="col col-lg-2 text-center border bg-light">
        <h4>100</h4>
      </div>
      <div class="col col-lg-2 text-center border bg-light">
        <h4>100</h4>
      </div>
      <div class="col col-lg-2 text-center border bg-light">
        <h2><b>5,43</b></h2>
      </div>
      <div class="col col-lg-2 text-center border bg-light">
        <h4>5,20 - 5,60</h4>
      </div>
    </div>
  </div>
</main>
