<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="col py-2 text-center">
      <h4>Calculated Mash pH</h4>
    </div>
  </div>
  <!-- mash ph -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 text-center">
        Effective Alkalinity (CaCO3 ppm)
      </div>
      <div class="col col-lg-2 text-center">
        Residual Alkalinity
      </div>
      <div class="col col-lg-2 text-center">
        ESTIMATED Mash pH
      </div>
      <div class="col col-lg-2 text-center">
        Desired Mash pH
      </div>
    </div>
    <div class="row justify-content-md-center border bg-light">
      <div class="col col-lg-2 text-center border">
        <h4>100</h4>
      </div>
      <div class="col col-lg-2 text-center border">
        <h4>100</h4>
      </div>
      <div class="col col-lg-2 text-center border">
        <h2><b>5,43</b></h2>
      </div>
      <div class="col col-lg-2 text-center border">
        <h4>5,20 - 5,60</h4>
      </div>
    </div>
  </div>
</main>
