<main role="main" class="flex-shrink-0">
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <h4>Adjustment summary</h4>
      </div>
    </div>
  </div>
  <!-- Water Summary -->
  <div class="container py-4">
    <div class="row">
      <div class="col">
        <div class="row pb-2">
          <div class="col-lg-2">Beer Style:</div>
          <div class="col-lg-4">
            <h2>{{ selectedBeerStyle ?  selectedBeerStyle.name : '' }}</h2>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col text-left"></div>
          <div class="col text-center">Calcium</div>
          <div class="col text-center">Magnesium</div>
          <div class="col text-center">Sodium</div>
          <div class="col text-center">Chloride</div>
          <div class="col text-center">Sulfate</div>
          <div class="col text-center">Residual Alkalinity</div>
        </div>
        <div class="row pb-2">
          <div class="col text-left">Style range:</div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ selectedBeerStyle ?  selectedBeerStyle.calciumRange : '0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ selectedBeerStyle ? selectedBeerStyle.magnesiumRange : '0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ selectedBeerStyle ? selectedBeerStyle.sodiumRange : '0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ selectedBeerStyle ? selectedBeerStyle.chlorideRange : '0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ selectedBeerStyle ? selectedBeerStyle.sulfateRange : '0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ selectedBeerStyle ? selectedBeerStyle.residualAlkalinityRange : '0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-10">
        <div class="row">
          <div class="col text-center"></div>
          <div class="col text-center">Calcium</div>
          <div class="col text-center">Magnesium</div>
          <div class="col text-center">Sodium</div>
          <div class="col text-center">Chloride</div>
          <div class="col text-center">Sulfate</div>
        </div>
        <div class="row pb-2">
          <div class="col text-center"></div>
          <div class="col text-center">(Ca ppm)</div>
          <div class="col text-center">(Mg ppm)</div>
          <div class="col text-center">(Na ppm)</div>
          <div class="col text-center">(Cl ppm)</div>
          <div class="col text-center">(SO4 ppm)</div>
        </div>
        <div class="row pb-1">
          <div class="col text-left">Mash Water:</div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ mashWater.calcium | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ mashWater.magnesium | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ mashWater.sodium | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ mashWater.chloride | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ mashWater.sulfate | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="row">
          <div class="col text-left">Overall Water:</div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ overallWater.calcium | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ overallWater.magnesium | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ overallWater.sodium | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ overallWater.chloride | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="col text-center">
            <input type="number" class="form-control text-center" value="{{ overallWater.sulfate | number : '1.0-0' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="row">
          <div class="col text-center"></div>
        </div>
        <div class="row">
          <div class="col text-center">Chloride / Sulfate</div>
        </div>
        <div class="row pb-2">
          <div class="col text-center">Ratio</div>
        </div>
        <div class="row pb-1">
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ mashWater.ratio| number : '1.2-2' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <input type="text" class="form-control text-center" value="{{ overallWater.ratio| number : '1.2-2' }}" readonly aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Buttons -->
  <div class="container py-3">
    <form [formGroup]="waterNameForm">
      <div class="row justify-content-end">
        <button (click)="onBack()" type="button" class="btn btn-outline-warning mr-2">
          <span class="fas fa-angle-double-left"></span> Back
        </button>
        <div class="col-lg-2 mr-2">
          <input type="text" formControlName="waterName" class="form-control text-left" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button (click)="onSave()" type="button" class="btn btn-outline-success mr-2">
          Save <span class="fas fa-save"></span>
        </button>
        <button (click)="onDelete()" type="button" class="btn btn-outline-danger">
          Delete <span class="far fa-trash-alt"></span>
        </button>
      </div>
    </form>
  </div>
</main>
