<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="col py-5 mt-5 text-center">
      <img class="d-block mx-auto mb-4" src="../assets/pic/you-be-the-chemist-logo-285.png" alt="">
      <h2>Brewing Water Adjustment Application</h2>
      <p class="lead">This web application was made for educational purposes only! Enjoy using application and think about the environment first!</p>
    </div>
  </div>
  <div class="container" *ngIf="authenticationService.isUserLoggedIn()">
    <div class="row">
      <div class="col py-1">
        <h4>Load water</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4 py-1">
        <div style="width: 300px;">
          <ng-select [items]="waters"
                     bindLabel="name"
                     placeholder="- Select Water -"
                     (change)="onWaterChange()"
                     [(ngModel)]="selectedWater">
          </ng-select>
        </div>
      </div>
      <div class="col-4">

      </div>
      <div class="col-4">
        <button (click)="onStart()" type="button" class="btn btn-outline-success mr-2">
          New Water <span class="fas fa-angle-double-right"></span>
        </button>
        <button (click)="onDelete()" type="button" class="btn btn-outline-danger">
          Delete All Waters! <span class="far fa-trash-alt"></span>
        </button>
      </div>
    </div>
  </div>
</main>
