<main role="main" class="container">
  <div class="row">
    <div class="col">
      <h4>List of beer styles by BJCP</h4>
    </div>
  </div>
  <!--  <div class="row py-1">
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div ngbDropdown class="dropdown">
          <button id="dropdownMenu" class="btn btn-outline-secondary" ngbDropdownToggle>BJCP Beer styles</button>
          <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownMenu">
            <button class="dropdown-item" *ngFor="let beer of beerStyles" value="{{ beer.id }}" (click)="selectedBeer = beer">{{ beer.bjcpStyleId }}. {{ beer.name }}</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-9 col-lg-10">
        <h2 class="text-muted">{{ selectedBeer.name }}</h2>
      </div>
    </div>-->
</main>
