<header class="navbar navbar-expand-md navbar-light bg-light fixed-top border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Home</a>
    <ul class="navbar-nav">
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-item"><a class="nav-link p-2 text-dark" routerLink="/water/water-report">Report</a></li>
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-item"><a class="nav-link p-2 text-dark" routerLink="/water/grain-bill">Grains</a></li>
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-item"><a class="nav-link p-2 text-dark" routerLink="/water/water-adjustment">Adjuster</a></li>
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-item"><a class="nav-link p-2 text-dark" routerLink="/water/adjustment-summary">Summary</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="logging" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign in</a>
        <div class="dropdown-menu" aria-labelledby="logging">
          <a class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" routerLink="/register">Register</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</header>
