<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/water/water-report">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/water/grain-bill">Grains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/water/water-adjustment">Adjuster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/water/adjustment-summary">Summary</a>
        </li>
      </ul>
    </div>
  </div>
</header>
