<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="col py-5 mt-5 text-center">
      <img class="d-block mx-auto mb-2" src="../assets/pic/you-be-the-chemist-logo-285.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="col form-signin text-center">
      <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

      <label for="username" class="sr-only">Username</label>
      <input type="username" class="form-control" id="username" name="username" [(ngModel)]="username" placeholder="New User" required="" autocomplete="off">

      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Password" required="" autocomplete="off">

      <label for="passwordConfirm" class="sr-only">Repeat Password</label>
      <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" [(ngModel)]="passwordConfirm" placeholder="Repeat Password" required="" autocomplete="off">

      <button class="btn btn-lg btn-dark btn-block mt-2" (click)=createUser()>Register</button>
    </div>
  </div>
</main>
